body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(148, 14, 14);
    margin-bottom: 60px;
}
html {
    position: relative;
    min-height: 100%;
  }
.base {
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80rem;
    min-width: 80rem;;
    background-color: rgba(28, 28, 28, 1);
}
nav{
    display:flex;
    align-content: center;
    justify-content: space-between;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fffbfb;
}
.catagories{
    background-color: rgba(64, 64, 64, 1);
}
.bestsellers{
    background-color: rgba(64, 64, 64, 1)
}
.deals{
    background-color:rgba(64, 64, 64, 1)
}
.cat_img{
    max-width: 10rem;
}
.card{
    background-color: rgba(64, 64, 64, 1)
}
/****Cart Page temp code ***/
.my_custom_table {
    min-width: 400px;
    font-size: 14px;
    background-color: #000000 !important;
    border-radius: 10px
}
.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.custom_image {
    width: 100px;
    height: 100px;
 }
.custom_a {
    text-decoration: none;
 }
.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
    
}
.my_custom_button {
    margin-top: 5px;
}

/***temp stripe css****/
/***Stripe Button***/
.stripe-button-el, .my_custom_button {
    width: 100% !important;
    display: block !important;
    background-color: rgba(64, 64, 64, 1);
    border: 0px !important;
    background-image: none !important;
    border-radius: 10px
    }
.stripe-button-el span {
    display: block;
    position: relative;
    padding: 0px 12px;
    height: 36px !important;
    line-height: 36px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    color: #fff !important;
    background-image: none !important;
    background: none !important;
}