body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 1);
    margin-bottom: 60px;
}
html {
    position: relative;
    min-height: 100%;
  }
.base {
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80rem;
    min-width: 80rem;;
    background-color: rgba(28, 28, 28, 1);
}
nav{
    display:flex;
    align-content: center;
    justify-content: space-between;
}
.footer{
    position: absolute;
    bottom: 0;
    background-color: rgba(28, 28, 28, 1);
}
.catagories{
    background-color: rgba(64, 64, 64, 1);
}
.bestsellers{
    background-color: rgba(64, 64, 64, 1)
}
.deals{
    background-color:rgba(64, 64, 64, 1)
}
.cat_img{
    max-width: 10rem;
}
.card{
    background-color: rgba(64, 64, 64, 1)
}
/****Cart Page temp code ***/

.my_custom_button {
    border-radius: 20px;
    height: 50px;
}

.my_custom_box {
    border-radius: 20px;
    overflow: hidden;
}

.my_custom_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 20px;
}

.my_custom_table td {
    padding: 10px; 
    border-radius: 20px;
    background-color: #fff;
}

.my_custom_thead th {
    background-color: #343a40;
    color: #fff;
    border-radius: 20px;
}

.custom_image {
    max-width: 100%;
    border-radius: 10px;
}

.custom_icon {
    font-size: 20px;
    color: #007bff;
}

.custom_a {
    color: #007bff;
}

.stripe-checkout-container {
    text-align: center;
}

@media (max-width: 576px) {
.my_custom_button {
        height: 40px;
    }

.custom_image {
        max-width: 40px;
}

.custom_icon {
        font-size: 16px;
}

.my_custom_table td {
        padding: 8px;
        border-radius: 15px;
}

.custom_image {
        border-radius: 8px;
}
}


/***temp stripe css****/
/***Stripe Button***/
.stripe-button-el, .my_custom_button {
    width: 100% !important;
    display: block !important;
    background-color: rgba(64, 64, 64, 1);
    border: 0px !important;
    background-image: none !important;
    border-radius: 10px
    }
.stripe-button-el span {
    display: block;
    position: relative;
    padding: 0px 12px;
    height: 36px !important;
    line-height: 36px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    color: #fff !important;
    background-image: none !important;
    background: none !important;
}