{% load static %}
<header class="header d-flex flex-row mx-5 mt-3 justify-content-between">
    <div class=" d-flex justify-content-start" style="text-align: center;">
        <div class="d-flex flex-row text-light" >
            <h1><a href="{% url 'shop:home' %}" class="link-underline link-underline-opacity-0 link-light">WEB Games</a></h1>
            <i class="fa-solid fa-gamepad fa-2xl m-3 mt-4"></i>
        </div>
    </div>
    <div class="nav-item d-flex justify-content-end text-light"style="text-align: center;">
        <ul class="d-flex justify-content-end">
            <i class="fa-solid fa-user fa-2xl m-3 mt-4"></i> 
            {% if user.is_authenticated %}
            <p>Hi {{user.username}}</p>
            <a href="{% url 'logout' %}">Log out</a>
            {% else %} 
            <a class="nav-link m-2" href="{% url 'login' %}">Sign in</a>
            <a class="nav-link m-2" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
            
            
        </ul>   
        <ul class="d-flex justify-content-end">
            <i class="fa-solid fa-cart-shopping fa-2xl m-3 mt-4"></i>
            <a class="nav-link m-2" href="{% url 'cart:cart_detail' %}">Basket</a>
        </ul>
    </div>
</header>