{% extends "base.html" %}
{% load static %}
{% block content %}



    <div class="text-light px-5">
        <h1>Featured</h1>
    </div>
        <div class="container-fluid d-flex justify-content-between text-light px-5  ">
            <img class="" style="width: 20rem " src="{% static 'images/Bo2.png' %}" alt="Bo2">
            <img class="" style="width: 20rem " src="{% static 'images/GtaV.png' %}" alt="GtaV">
            <img class="" style="width: 20rem " src="{% static 'images/Rust.png' %}" alt="Rust">
            <!-- <img class="" style="width: 20rem " src="{% static 'images/Minecraft.png' %}" alt="Minecraft"> -->
        </div>


{% endblock %}