{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<nav class="navbar d-flex flex-row align-items-center px-5">
  <div class="d-flex justify-content-start align-items-center" style="width: 30rem">
        <ul class=" catagories nav-link px-2 mx-1 text-light form-control " >
            <li class="nav-item dropdown">
                <a class="catagories text-light nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Catagories</a>
                    <ul class="nav-link px-2 mx-1 text-light form-control">
                        <ul class=" catagories dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for cat in links %}
                                    <li><a class="text-light dropdown-item" href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>

                                {% endfor %}
                            </ul>
                        </li>
        </ul>
    </ul>

    
<ul
    class="bestsellers nav-link px-2 mx-1 text-light form-control d-flex justify-content-center">
      Bestsellers
    </ul>
    <ul
      class="deals nav-link px-2 mx-1 text-light form-control d-flex justify-content-center">
      Deals
</ul>
</div>


  <div class="d-flex justify-content-end">
    <form class="nav-item" style="width: 25rem" action="" method="get">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="q"
      />
    </form>
    <form class="d-flex" action="{% url 'search_app:searchResult' %}" method="get">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>