{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {# Add meta description logic here #}
{% endblock %}
{% block title %}
    Best Sellers
{% endblock %}
{% block content %}
<div class="container text-light px-5">
    <h1>Best Sellers</h1>
    {% if bestsellers %}
        {% for bestseller in bestsellers %}
            <div class="mt-5 row my_prod_row_class">
                <div class="col-lg-6 text-center">
                    <div>
                        <img src="{{ bestseller.product.image.url }}" alt="{{ bestseller.product.name }}">
                    </div>
                </div>
                <div class="text-light col-12 col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h1>{{ bestseller.product.name }}</h1>
                        <p>€{{ bestseller.product.price }}</p>
                        <p>{{ bestseller.product.description }}</p>
                        {% if bestseller.product.stock == 0 %}
                            <p><b>Out of Stock</b></p>
                        {% else %}
                            <a class=" catagories btn text-light" href="{% url 'cart:add_cart' bestseller.product.id %}">Add to Cart</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No best-selling products available.</p>
    {% endif %}
</div>
{% endblock %}
