{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
    Lorem ipsum dolor sit amet
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Lorem ipsum dolor sit amet
    {% else %}
        Lorem ipsum dolor sit amete
    {% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
    {% if category %}
        <div>
            <div>
                <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{category.name}}</p>
            </div>
        </div>
    {% endif %}
    <div>
        {% if category %}
            <img src="{{category.image.url}}" alt="{{category.name}}">
    </div>
    <br>
    <div>
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
    </div>
{% else %}
    <img src="{% static 'images/banner.jpg' %}" alt="Our Products Collection">
</div>
<br>
<div>
    <h1 >Our Products Collection</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid
        unt ut labore et dolore magna aliqua. Diam donec adipiscing tristique risus. Feugiat 
        sed lectus vestibulum mattis ullamcorper velit. Sodales neque sodales ut etiam sit 
        amet nisl purus. Varius duis at consectetur lorem. Morbi enim nunc faucibus a pellentesque. 
        Tempor orci dapibus ultrices in iaculis nunc. Augue neque gravida in fermentum. Viverra maecenas 
        accumsan lacus vel facilisis volutpat est. get egestas purus viverra accumsan in nisl nisi 
        scelerisque eu.</p>
</div>
{% endif %}
<div>
    <div>
        {% for product in prods %}
            <div>
                <div>
                    
                    <div>
                        <h4>{{product.name}}</h4>
                        <p>€{{product.price}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}